/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralevo -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input  = '/Data/Users/rbhuller/tmp/new/nf-core-viralevo/assets/samplesheet.csv'
    primers_fasta = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/nexteraPE.fasta'
    primers_bed = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/nibsc_primers_correct.bed'
    

    // Genome references
    genome = 'SARS-CoV-2'

   // Other parameters
   ivar_calling_af_threshold = 0.001
   ivar_calling_dp_threshold = 10
   vaf_threshold = 0.01
   alt_depth_threshold = 100
   noannotation = false
   tools        = 'all'
   genome_version = 'NC_045512.2'
}
