params {
  virus_reference {
    'SARS-CoV-2' {
        fasta = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/refseq_NC_045512_covid19_wuhan.fasta'
        gff   = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/GCF_009858895.2_ASM985889v3_genomic.gff'
        pyloref = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/hCoV-19_phylo-reference_samples.fa'
        rmodel = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/covid19_genome_model.RData'
    }
    'MT299802' {
        fasta = '/usr/share/sequencing/references/sars-cov-2/MT299802.fasta'
        gff   = '/usr/share/sequencing/references/sars-cov-2/MT299802.gff3'
        pyloref = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/hCoV-19_phylo-reference_samples.fa'
        rmodel = '/usr/share/sequencing/references/sars-cov-2/MT299802.rds'
    }
    'MT299803' {
        fasta = '/usr/share/sequencing/references/sars-cov-2/MT299803.fasta'
        gff   = '/usr/share/sequencing/references/sars-cov-2/MT299803.gff3'
        pyloref = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/hCoV-19_phylo-reference_samples.fa'
        rmodel = '/usr/share/sequencing/references/sars-cov-2/MT299803.rds'
    }
    'MT299804' {
        fasta = '/usr/share/sequencing/references/sars-cov-2/MT299804.fasta'
        gff   = '/usr/share/sequencing/references/sars-cov-2/MT299804.gff3'
        pyloref = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/hCoV-19_phylo-reference_samples.fa'
        rmodel = '/usr/share/sequencing/references/sars-cov-2/MT299804.rds'
    }
    'MT299805' {
        fasta = '/usr/share/sequencing/references/sars-cov-2/MT299805.fasta'
        gff   = '/usr/share/sequencing/references/sars-cov-2/MT299805.gff3'
        pyloref = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/hCoV-19_phylo-reference_samples.fa'
        rmodel = '/usr/share/sequencing/references/sars-cov-2/MT299805.rds'
    }
    'construct' {
        fasta = '/usr/share/sequencing/references/sars-cov-2/construct.fasta'
        gff   = '/usr/share/sequencing/references/sars-cov-2/construct.gff3'
        pyloref = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/hCoV-19_phylo-reference_samples.fa'
        rmodel = '/usr/share/sequencing/references/sars-cov-2/construct.rds'
    }
  }
}
